{% extends "page.html" %}

{% block subtitle %}{{ data.title }}{% endblock %}

{% block main_content %}
<article class="module" role="main">
    <div id="content" class="container">
        {% block toolbar %}
        <div class="toolbar" role="navigation" aria-label="{{ _('Breadcrumb') }}">
            {% block breadcrumb %}
            {% if self.breadcrumb_content() | trim %}
            <ol class="breadcrumb">
                {% snippet 'snippets/home_breadcrumb_item.html' %}
                {% block breadcrumb_content %}
                <li class="active"><a href="{{ h.url_for('/manual_usage_api/page') }}">{{ _('Manual usage API') }}</a>
                </li>
                {% endblock %}
            </ol>
            {% endif %}
            {% endblock %}
        </div>
        {% endblock %}
        <div class="row wrapper no-nav view-preview-container">
            <section class="module module-narrow module-shallow">
                <div class="module-content custom-content">
                    <h1 class="page-heading">{{ data.title }}</h1>
                    {% if data.publish_date %}
                    <span class="muted date"> {{ h.render_datetime(data.publish_date) }} </span>
                    {% endif %}
                    {% if data.content %}
                    {% set editor = h.pages_get_wysiwyg_editor() %}
                    {% if editor %}
                    <div>
                        {{data.content|safe}}
                    </div>
                    {% else %}
                    {{ h.render_content(data.content) }}
                    {% endif %}
                    {% else %}
                    <p class="empty">{{ _('This page currently has no content') }}</p>
                    {% endif %}
                </div>
            </section>
        </div>
    </div>

</article>


{% endblock %}