{% set pages_total = pages|length %}

{% if pages %}
<div class="page-list">
  {% set editor = h.pages_get_wysiwyg_editor() %}
  {% for page in pages %}
  <div class="row page-list-item dataset-item">

    {% if page.image %}
    <div class="span3 col-md-2 image">
      <a style="background-image:url({{ page.image }})" href="{% if page.page_type == 'page' %}pages{% else %}{{ page.page_type }}{% endif %}/{{page.name}}"></a>
    </div>
    {% endif %}

    <div class="{% if page.image %}span8 col-md-10{% else %}span11 col-md-12{% endif %}">
      <h3 class="dataset-heading">
        <a href="{% if page.page_type == 'page' %}pages{% else %}{{ page.page_type }}{% endif %}/{{page.name}}">{{ page.title }}</a>
        {% if page.publish_date %}
        <small class="date"> {{ h.render_datetime(page.publish_date) }} </small>
        {% endif %}
      </h3>

      <span class="custom_pin">{{ page.pin }}</span>

      {% if page.content %}
        {% if editor %}
        <div>
          {{page.content|striptags|truncate}}
        </div>
        {% else %}
        {{ h.markdown_extract(page.content) }}
        {% endif %}
      {% else %}
      <p class="empty">{{ _('This page currently has no content') }}</p>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<p class="empty">{{ _('There are currently no articles or news here') }}</p>
{% endif %}


{% block script_pin %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var customPins = document.querySelectorAll('.custom_pin');
        customPins.forEach(function(pin) {
            if (pin.textContent.trim() === '1') {
                var icon = document.createElement('i');
                icon.className = 'fa fa-bookmark';
                icon.setAttribute('aria-hidden', 'true');
                pin.parentNode.replaceChild(icon, pin);
            } else {
                pin.parentNode.removeChild(pin);
            }
        });
    });
  </script>
  {% endblock %}