<section class="module module-narrow">
<h2 class="module-heading"><i class="fa fa-cogs" aria-hidden="true"></i> {{ _('Consideration of dataset publication') }}</h2>
<nav data-module="stats-nav">
    <ul class="unstyled nav nav-simple">
        <li class="nav-item {% if request.endpoint.startswith('governance.governance_processing') %} active {% endif %}"><a href="{{ h.url_for('/governance/processing_state_wait') }}">{{ _('Dataset awaiting consideration') }}</a></li>
        <li class="nav-item {% if request.endpoint.startswith('governance.governance_finished') %} active {% endif %}"><a href="{{ h.url_for('/governance/finished_state_complete') }}">{{ _('Dataset considered') }}</a></li>
    </ul>
</nav>
</section>
<section class="module module-narrow">
<h2 class="module-heading"><i class="fa fa-cogs" aria-hidden="true"></i>{{ _('Consideration of data request') }}</h2>
<nav data-module="stats-nav">
    <ul class="unstyled nav nav-simple">
        <li class="nav-item {% if request.endpoint.startswith('governance.requestdata_processing') %} active {% endif %}"><a href="{{ h.url_for('/governance/requestdata/processing_state_wait_steward') }}">{{ _('Data request pending consideration') }}</a></li>
        <li class="nav-item {% if request.endpoint.startswith('governance.requestdata_receive') %} active {% endif %}"><a href="{{ h.url_for('/governance/requestdata/receive_state_wait_maintainer_notify') }}">{{ _('Data request awaiting data reception') }}</a></li>
        <li class="nav-item {% if request.endpoint.startswith('governance.requestdata_finished') %} active {% endif %}"><a href="{{ h.url_for('/governance/requestdata/finished_state_received') }}">{{ _('Data request considered') }}</a></li>
        <li class="nav-item {% if request.endpoint.startswith('governance.requestdata_anonymous') %} active {% endif %}"><a href="{{ h.url_for('/governance/requestdata/anonymous') }}">{{ _('Public data request') }}</a></li> 
    </ul>
</nav>
</section>