{% ckan_extends %}

{% block search_sortby %}
  {% if sorting and type and type != 'processing' and type != 'requestdata' %}
    <div class="form-select form-group control-order-by">
      <label for="field-order-by">{{ _('Order by') }}</label>
      <select id="field-order-by" name="sort" class="form-control">
        {% for label, value in sorting %}
          {% if label and value %}
            <option value="{{ value }}"{% if sorting_selected == value %} selected="selected"{% endif %}>{{ label }}</option>
          {% endif %}
        {% endfor %}
      </select>
      {% block search_sortby_button %}
      <button class="btn btn-default js-hide" type="submit">{{ _('Go') }}</button>
      {% endblock %}
    </div>
  {% endif %}
{% endblock %}

{% if placeholder == 'Search datasets...' %}
  {% set placeholder = _('Search datasets...') %}
{% endif %}

{% block search_facets %}
{% if facets %}
  <p class="filter-list">
    {% for field in facets.fields %}
      {% set search_facets_items = facets.search.get(field)['items'] %}
      <span class="facet">{{ facets.titles.get(field) }}:</span>
      {% for value in facets.fields[field] %}
        <span class="filtered pill">
          {%- if facets.translated_fields and (field,value) in facets.translated_fields -%}
            {{ facets.translated_fields[(field,value)] }}
          {%- else -%}
            {{ h.list_dict_filter(search_facets_items, 'name', 'display_name', _(value)) }}
          {%- endif %}
          {% if 'governance' not in request.endpoint and 'requestdata' not in request.endpoint %}
            <a href="{{ facets.remove_field(field, value) }}" class="remove" title="{{ _('Remove') }}"><i class="fa fa-times"></i></a>
          {% else %}
            <a href="{{ request.path }}" class="remove" title="{{ _('Remove') }}"><i class="fa fa-times"></i></a>
          {% endif %}
        </span>
      {% endfor %}
    {% endfor %}
  </p>
  <a class="show-filters btn btn-default">{{ _('Filter Results') }}</a>
{% endif %}
{% endblock %}