<div class="col-md-12 col-lg-4">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">สถิติการเข้าชมบทความ ณ 25 มีนาคม 2567</div>
        <table class="table">
            <tbody>
                {% for item in item_total_news_review %}
                <tr>
                    <td width="80%">{{ item.name }}</td>
                    <td class="text-right">{{ item.count }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>