<div class="col-md-6 col-lg-4">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">{{ _('Number of data entries classified by operation district') }}</div>
      <div class="panel-body text-center">


        <div class="chart-item">
          <canvas id="ChartOverView" style="width:70%;"></canvas>
        </div>

        <script>
          const ChartOverViewxValues = [
          {% for item in item_total_group_review %}
          "{{ item.name }}",
          {% endfor %}
          ];
          const ChartOverViewyValues = [
          {% for item in item_total_group_review %}
          {{ item.count }},
          {% endfor %}
          ];
          const ChartOverViewbarColors = [
            "#065381",
            "#65cae6", 
            "#e54854",
            "#ff9b2c",
            "#5dd5d4",
            "#8b123f",

          ];



          new Chart("ChartOverView", {
            type: "pie",
            data: {
              labels: ChartOverViewxValues,
              datasets: [{
                backgroundColor: ChartOverViewbarColors,
                data: ChartOverViewyValues
              }]
            },
            options: {
              plugins: {
                legend: {
                  position: 'bottom',
                  labels: {
                    font: {
                        size: 20 // Legend font size
                    }
                }
                },
                
                title: {
                  display: false,
                },
                
              }



            }
          });
        </script>



      </div>
    </div>
  </div>

            
