<div class="col-md-6 col-lg-4">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">จำนวนข้อมูลจำแนกตามหมวดหมู่</div>
      <div class="panel-body text-center">

        <div class="chart-icon">
          <i class="fa fa-users" aria-hidden="true"></i>
        </div>
        <div class="chart-item">
          <canvas id="ChartCategory" style="width:70%;"></canvas>
        </div>

        <script>
          const ChartCategoryxValues = [
          {% for item in item_total_package_data_review %}
          "{{ item.name }}",
          {% endfor %}
          ];
          const ChartCategoryyValues = [
          {% for item in item_total_package_data_review %}
          {{ item.count }},
          {% endfor %}
          ];
          const ChartCategorybarColors = [
            "#065381",
            "#65cae6", 
            "#e54854",
            "#ff9b2c",
            "#5dd5d4",
            "#8b123f",

          ];



          new Chart("ChartCategory", {
            type: "doughnut",
            data: {
              labels: ChartCategoryxValues,
              datasets: [{
                backgroundColor: ChartCategorybarColors,
                data: ChartCategoryyValues
              }]
            },
            options: {
              plugins: {
                legend: {
                  position: 'bottom',
                },
                title: {
                  display: false,
                }
              }



            }
          });
        </script>



      </div>
    </div>
  </div>

            
