{% ckan_extends %}

{% block header_account_logged %}
{% set governance_organizations = h.organizations_available(permission='governance') %}
{% if h.check_access('steward') %}
<li>
  <a href="/governance/processing_state" title="{{ _('Data Governance') }}">
    <i class="fa fa-cogs" aria-hidden="true"></i>
    <span class="text">{{ _('Data Governance') }}</span>
  </a>
</li>
{% elif governance_organizations | length %}
<li>
  <a href="/governance/processing_state" title="{{ _('Data Governance') }}">
    <i class="fa fa-cogs" aria-hidden="true"></i>
    <span class="text">{{ _('Data Governance') }}</span>
  </a>
</li>
{% endif %}
  {{ super() }}
{% endblock %}