{% import 'macros/form.html' as form %}
<script type="text/javascript">
	function sSelect_license_id(){
		index = document.getElementById('field-license_id').value;
		if(index == 'อื่นๆ'){
			document.getElementById('field-license_id_other').style.display='';
            document.getElementById('field-license_id_other').focus();
		} else {
            document.getElementById('field-license_id_other').value='';
            document.getElementById('field-license_id_other').style.display='none';
        }
	}
</script>

{%- set options=[] -%}
{%- set form_restrict_choices_to=field.get('form_restrict_choices_to') -%}
{%- if not h.scheming_field_required(field) or
  field.get('form_include_blank_choice', false) -%}
{%- do options.append({'value': '', 'text': ''}) -%}
{%- endif -%}
{%- for c in h.scheming_field_choices(field) -%}
  {%- if not form_restrict_choices_to or c.value in form_restrict_choices_to -%}
    {%- do options.append({
      'value': c.value|string,
      'text': h.scheming_language_text(c.label) }) -%}
  {%- endif -%}
{%- endfor -%}

{% call form.select(
    field.field_name,
    id='field-' + field.field_name,
    label=h.scheming_language_text(field.label),
    options=options,
    selected=data.get(field.field_name, field.get('default', 'notspecified')),
    error=errors[field.field_name],
    classes=['control-medium'],
    is_required=h.scheming_field_required(field),
    attrs = {'class' : "form-control", 'onchange' : "sSelect_license_id();"}
    )
%}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>

index = document.getElementById('field-data_category').value;
  var sDisclosure = document.getElementById("field-disclosure");
  if(index == 'ข้อมูลสาธารณะ') {
    for (var i = 0; i < sDisclosure.length; i++) {
        var txt = sDisclosure.options[i].attributes[0].nodeValue;
        if(txt != 'public'){
          $(sDisclosure.options[i]).attr('disabled', 'disabled').hide();
        }
      }
  } else if(index == 'ข้อมูลใช้ภายใน') {
    for (var i = 0; i < sDisclosure.length; i++) {
        var txt = sDisclosure.options[i].attributes[0].nodeValue;
        if(txt != 'registered'){
          $(sDisclosure.options[i]).attr('disabled', 'disabled').hide();
        }
      }
  } else if(index == 'ข้อมูลส่วนบุคคล') {
    for (var i = 0; i < sDisclosure.length; i++) {
        var txt = sDisclosure.options[i].attributes[0].nodeValue;
        if(txt == 'public' || txt == 'secret'){
          $(sDisclosure.options[i]).attr('disabled', 'disabled').hide();
        }
      }
  } else {
    for (var i = 0; i < sDisclosure.length; i++) {
        var txt = sDisclosure.options[i].attributes[0].nodeValue;
        if(txt == 'public' || txt == 'registered'){
          $(sDisclosure.options[i]).attr('disabled', 'disabled').hide();
        }
      }
  }

</script>

{% endcall %}


