











.box h1{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 40px;
    line-height: 44px;
    position: relative;
}
.box div h1:nth-child(2){
    position: relative;
    margin-bottom: 30px;
}
.box div h1:nth-child(2):before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 3px;
    width: 70%;
    background: #F66E22;
}

.box h2{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 26px;
    line-height: 34px;
    position: relative;
    color: #F66E22;
    font-family: 'DB Ozone X Medium';
    font-weight: 500;
}


.page-heading, .media-heading a{ 
    font-size: 24px;
    line-height: 30px;
    font-family: 'DB Ozone X Medium';
    font-weight: 500;
    color: #F66E22;
    display: inline-block;
    position: relative;
}

.page-heading, .media-heading a:hover{ 
   text-decoration: none;
}


.page-heading, .media-heading a::before{ 
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background: #F66E22;
  width: 0%;
  height: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -khtml-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


.page-heading, .media-heading a:hover::before{ 
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -khtml-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


