<section class="module module-narrow">
<h2 class="module-heading"><i class="fa fa-cogs" aria-hidden="true"></i> พิจารณาการเผยแพร่ชุดข้อมูล</h2>
<nav data-module="stats-nav">
    <ul class="unstyled nav nav-simple">
        <li class="nav-item {% if request.endpoint.startswith('governance.governance_processing') %} active {% endif %}"><a href="/governance/processing_state_wait">ชุดข้อมูลที่รอการพิจารณา</a></li>
        <li class="nav-item {% if request.endpoint.startswith('governance.governance_finished') %} active {% endif %}"><a href="/governance/finished_state_complete">ชุดข้อมูลที่พิจารณาแล้ว</a></li>
    </ul>
</nav>
</section>
<section class="module module-narrow">
<h2 class="module-heading"><i class="fa fa-cogs" aria-hidden="true"></i> พิจารณาการขอใช้ข้อมูล</h2>
<nav data-module="stats-nav">
    <ul class="unstyled nav nav-simple">
        <li class="nav-item {% if request.endpoint.startswith('governance.requestdata_processing') %} active {% endif %}"><a href="/governance/requestdata/processing_state_wait_steward">คำขอใช้ข้อมูลที่รอการพิจารณา</a></li>
        <li class="nav-item {% if request.endpoint.startswith('governance.requestdata_receive') %} active {% endif %}"><a href="/governance/requestdata/receive_state_wait_maintainer_notify">คำขอใช้ข้อมูลที่รอการได้รับข้อมูล</a></li>
        <li class="nav-item {% if request.endpoint.startswith('governance.requestdata_finished') %} active {% endif %}"><a href="/governance/requestdata/finished_state_received">คำขอใช้ข้อมูลที่พิจารณาแล้ว</a></li>
    </ul>
</nav>
</section>