{% ckan_extends %}

{% block styles %}
  {{ super() }}

  <link rel="stylesheet" href="/css/intro.css" />
  <link rel="stylesheet" href="/css/datagroup-section.css" />
  <link rel="stylesheet" href="/css/new-section.css" />
  <link rel="stylesheet" href="/css/userstatistics-section.css" />
  <script src="/js/Chart.js"></script>


  {% set type = 'asset' if h.ckan_version() > '2.9' else 'resource' %}
  {% include 'thai_gdc/snippets/thai_gdc_' ~ type ~ '.html' %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% asset 'thai_gdc/thai_gdc_js' %}
{% endblock %}
