{% extends "page.html" %}

{% block subtitle %}{{ _('Articles or news about information') }}{% endblock %}

{% block primary %}
  <article class="module" role="main">
    <div class="module-content">
      {% block category_articles_news %}
        {% set category_articles_news = h.thai_gdc_get_articles_news_list() %}
        {% snippet 'articles_news/snippets/articles_news_list.html', pages=category_articles_news %}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
