h1 {
  font-size: 28px;
}
h2 {
  font-size: 27px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h1,
h2,
h3,
h4 {
  line-height: 1.5;
}
h1 small,
h2 small,
h3 small,
h4 small {
  font-size: 20px;
}

@media (min-width: 992px) {
    .custom-content {
      padding: 30px!important;
    }
  
    .homepage [role=main] {
      padding: 50px 0!important;
    }
  }