{% ckan_extends %}

{% block form_actions %}
<div class="action-metadata">
	<div>
		<label for="rollback-select">{{ _('Lists of Business Metadata') }}</label>
		<div>
			<select class="form-control" id="rollback-select">
				<!-- <option selected disabled>{{ _('Select Metadata...') }}</option> -->
				<option selected disabled>{{_('Select Metadata...')}}</option>
			</select>
			<!-- <a class="btn btn-success" id="rollback-button"><i class="fa fa-plus" aria-hidden="true"></i></a> -->
		</div>
	</div>
</div>
{{ super() }}
<script>

	var selectElementId = "field-data_type";
	var selectElement = document.getElementById(selectElementId);
	if (selectElement) {
		var parent = selectElement.parentElement;
		var textValue = selectElement.options[selectElement.options.selectedIndex].textContent;
		if (!parent) {
			parent = selectElement.parentNode;
			textValue = selectElement.options[selectElement.options.selectedIndex].text;
		}
		var input = document.createElement("input");
		input.setAttribute("id", selectElement.id);
		input.setAttribute("type", "text");
		input.setAttribute("class", "form-control");
		input.setAttribute("value", textValue);
		input.style.background = "#eeeeee";
		input.readOnly = true;
		parent.appendChild(input);
	}
	selectElement.style.display = "none";

	let deletedFields = [];
	let uniqueIdCounter = 0;

	function checkRequiredFields() {
		const formGroups = document.querySelectorAll('.form-group');

		formGroups.forEach(group => {
			const controlLabel = group.querySelector('.control-label');
			if (controlLabel && !controlLabel.querySelector('.control-required')) {
				const input = group.querySelector('input, select, textarea');
				if (!input.value) {
					deletedFields.push({
						id: group.id,
						label: controlLabel.textContent.trim(),
						html: group.outerHTML,
						haveOther: false
					});
					input.value = null;
					checkAndHideField(input);
					updateRollbackOptions();
				}
				if (group.querySelector('.checkboxes')) {
					deletedFields.push({
						id: group.id,
						label: controlLabel.textContent.trim(),
						html: group.outerHTML,
						haveOther: true
					});
					input.value = null;
					checkAndHideField(input, true);
					updateRollbackOptions();
				}
			}

		});
	}

	function addDeleteButtons() {
		const formGroups = document.querySelectorAll('.form-group');
		formGroups.forEach(group => {
			if (!group.id) {
				group.id = `form-group-${uniqueIdCounter++}`;
			}
			const controlLabel = group.querySelector('.control-label');
			if (controlLabel && !controlLabel.querySelector('.control-required')) {
				const existingDeleteBtn = group.querySelector('.delete-btn');
				if (existingDeleteBtn) {
					existingDeleteBtn.remove();
				}
				const deleteBtn = document.createElement('button');
				deleteBtn.className = 'btn btn-danger delete-btn';
				deleteBtn.innerHTML = '<i class="fa fa-minus" aria-hidden="true" style="margin-right: 0px;margin-top: 3px;"></i>';
				deleteBtn.style.borderRadius = '50%';
				deleteBtn.style.width = '35px';
				deleteBtn.style.height = '30px';
				deleteBtn.style.padding = '0';
				deleteBtn.style.margin = '0 0 0 4px';
				deleteBtn.onclick = () => {
					const input = group.querySelector('input, select, textarea');
					if (group.querySelector('.checkboxes')) {
						deletedFields.push({
							id: group.id,
							label: controlLabel.textContent.trim(),
							html: group.outerHTML,
							haveOther: true
						});
						input.value = null;
						checkAndHideField(input, true);
						updateRollbackOptions();
					} else if (input && !group.querySelector('.checkboxes')) {
						deletedFields.push({
							id: group.id,
							label: controlLabel.textContent.trim(),
							html: group.outerHTML,
							haveOther: false
						});
						input.setAttribute('data-none', 'true');
						input.value = null;

						// Verification step
						if (input.getAttribute('data-none') === 'true') {
							console.log(`Form group ${group.id} deleted successfully and input set to None.`);
							checkAndHideField(input);
							updateRollbackOptions();
						}
					}

				};
				group.querySelector('.controls').appendChild(deleteBtn);
			}
		});
	}

	// Function to check if field value is null and hide it if not required
	function checkAndHideField(input, isCheckbox = false) {

		const controlLabel = input.closest('.form-group').querySelector('.control-label');
		if (!controlLabel.querySelector('.control-required') && input.value === '') {
			input.closest('.form-group').classList.add('hidden');
		}
		if (isCheckbox) {
			const dataLanguageOther = document.getElementById('field-data_language_other');
			if (dataLanguageOther) {
				dataLanguageOther.classList.add('hidden'); // Hide the `data_language_other` field
				dataLanguageOther.value = null;
			}
		}
	}

	// Function to update rollback options
	function updateRollbackOptions() {
		const rollbackSelect = document.getElementById('rollback-select');
		rollbackSelect.innerHTML = '<option selected disabled>{{_('Select Metadata...')}}</option>';
		deletedFields.forEach(field => {
			const option = document.createElement('option');
			option.value = field.id;
			option.textContent = field.label;
			rollbackSelect.appendChild(option);
		});
	}

	// Function to rollback a deleted field
	function rollbackField() {
		const rollbackSelect = document.getElementById('rollback-select');
		const selectedValue = rollbackSelect.value;
		if (selectedValue) {
			const fieldToRestore = deletedFields.find(field => field.id === selectedValue);
			if (fieldToRestore) {
				const formGroup = document.getElementById(fieldToRestore.id);
				formGroup.classList.remove('hidden');
				if (fieldToRestore.haveOther) {
					const dataLanguageOther = document.getElementById('field-data_language_other');
					if (dataLanguageOther) {
						dataLanguageOther.classList.remove('hidden'); // Show the `data_language_other` field
					}
				}
				const input = formGroup.querySelector('input, select, textarea');
				if (input) {
					input.value = "";
				}
				document.getElementById(selectedValue).outerHTML = fieldToRestore.html;
				deletedFields = deletedFields.filter(field => field.id !== selectedValue);
				updateRollbackOptions();
				addDeleteButtons(formGroup)
			}
		}
	}

	// Run the function when the DOM is fully loaded
	document.addEventListener('DOMContentLoaded', () => {
		addDeleteButtons();
		checkRequiredFields();
		document.getElementById('rollback-select').addEventListener('change', rollbackField);
	});
</script>
<style>
	.delete-btn {
		margin-top: 5px;
		cursor: pointer;
	}

	.hidden {
		display: none;
	}

	.action-metadata {
		margin-bottom: 20px;

	}

	.action-metadata select {
		max-width: 100%;
	}
	.controls {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.controls.editor{
		display: block;
	}
	.controls.editor .delete-btn{
		margin-top: 10px !important;
	}
	.control-large .controls{
		display: block;
	}
</style>
{% endblock %}