.masthead {
  background: #fff
}

/* .masthead .nav-pills > li > a {
  background: #fff;
  font-size: 22px;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
  color: #000;
  border-radius: 0px;
  transition: box-shadow 0.3s ease;
  padding: 20px;
  width: 150px;
  height: 150px;
  text-align: center;
  font-weight: bold;
} */
/* .masthead .nav-pills > li > a:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
} */
.masthead .navigation .nav-pills li a:hover {
  background-color: #FFA176;
  /* color: #fff; */
}

.masthead .navigation .nav-pills li.active a {
  background-color: #FFA176;
  /* color: #fff; */
}

.navbar-toggle {
  background-color: #FE5000;
}

.account-masthead {
  background: #fe5000;
}

.account-masthead .account ul li a {
  color: #FFFFFF;
  line-height: 80px;
  font-size: 16px;
}

.account-masthead .account ul li {
  border-left: 1px solid #ff8c52;
}

.account-masthead .account ul li a:hover {
  background-color: #C7581A;
}

.homepage .module-search .module-content {
  background-color: #FE5000;
}

.homepage .module-search .tags {
  background-color: #C7581A;
}

.account-masthead hgroup .logo img {
  max-height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.site-footer {
  background: #333333;
}

.btn-primary {
  background-color: #FE5000;
  border-color: #C7581A;
}

.btn-primary:hover {
  background-color: #C7581A;
  border-color: #FE5000;
}

a {
  color: #000000;
}

/* .masthead .navbar-collapse {
  float: left;
} */
/* .masthead .section {
  font-family: 'DB Ozone X Light', sans-serif;
} */
.img-nav {
  width: 50px;
}

.nav-text {
  margin-bottom: 0px;
  margin-top: revert;
}

/* .nav-link-content {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
/* .masthead .container{
  display: flex;
  align-items: center;
  justify-content: center;
} */
.stages li.active .highlight {
  background: #FE5000;
}

.stages li.active:before {
  color: #FE5000;
}

.nav-item.active>a,
.nav-aside li.active a {
  background-color: #FE5000;
}

.nav-item.active>a:before,
.nav-aside li.active a:before {
  border-left-color: #FE5000;
}

.nav-item.active>a:hover,
.nav-aside li.active a:hover {
  background-color: #C7581A;
}

.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li a:focus,
.masthead .navigation .nav-pills li.active a {
  background-color: #FFA176;
}



@media (min-width: 767px) {
  .masthead {

    padding: 0px 0;

  }

  

  .masthead .navbar-collapse {
    padding: 0px 0;
    width: 100%;
  }

  .masthead .section {
    width: 100%;
  }
  .nav-pills > li + li {
    margin-left: 0px;
  }
  .nav-pills>li {
    
    width: 14.28571428571429%;
  }

  .masthead .nav-pills > li > a {
  background: #fff;
  font-size: 22px;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
  color: #000;
  border-radius: 0px;
  min-height: 150px;

  padding-top: 20px;
  text-align: center;
  font-weight: bold;  
  transition: box-shadow 0.3s ease;
  -webkit-transition: all 0.2s ease-in-out;
		-khtml-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
}

.img-nav {
  width: 45px;
  position: relative;
}
.img-nav::before {
 content: '';
 width: 55px;
 height: 55px;
 position: absolute;
 
 left: -10px;
 right: -10px;
 bottom: -10px;
 top: -10px;
}

}

@media (max-width: 991px) {
  .navbar-toggle {
    margin-right: 0px;
    font-size: 25px;
    line-height: 40px;
    background-color: #ffffff;
    color: #f35200;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

  }


}

@media (max-width: 767px) {
  .masthead {
    background: #f35200;
  }

  .account-masthead .account ul li a {
    color: #FFFFFF;
    line-height: 30px;
    font-size: 16px;
  }
  .nav > li > a {
    border-radius: 0px;
    position: relative;
}
  .nav > li > a::before {
    content: '';
    width: 100%;
    height: 0.5px;
    background: rgb(255 255 255 / 15%);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.img-nav {
  width: 35px;
  margin-right: 10px;
  display: inline-block;
}
.nav-text {
  display: inline-block;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 22px;
}
}